<div class="header-bar">

    <div class="header-left">
        <% if(backUrl !== '') { %>
            <a href="<%= backUrl %>" class="headerButton backButton btn-primary"><span class="glyphicon glyphicon-circle-arrow-left"></span></a>
        <% } %>
    </span>

    <%= name %>

    <div class="header-right">
        <% if(backUrl !== '') { %>
            <a href="#!" class="headerButton homeButton btn-primary"> <span class="glyphicon glyphicon-home"></span></a>
        <% } else { %>
            <a href="" class="headerButton closeButton btn-primary">
               <span class="glyphicon glyphicon-remove"></span>
            </a>
        <% } %>
    </div>
</div>