<h2>New user</h2>
<p>
	<label for='email'>Email</label> <br/>
	<input type='input' name='email' id='email'/>
</p>
<p><label for='password'>Password</label><br/>
<textarea name='password' id='password'/></textarea>
</p>
<p><input type='submit' value='Create'/></p>