<div class="milesTable">
    <table class="table table-striped" id='milesTable'>
        <tr>
            <th>Date</th>
            <th>Property</th>
            <th>Type</th>
            <th>Miles</th>
            <th>Graph</th>
        </tr>
        <%for(var i = 0; i < this.length ; i++){ %>
        <tr <%= this[i]%>>
        <%== $.View('//landlord/miles/list/views/miles.ejs', this[i] )%>
        </tr>
        <%}%>
    </table>

    <a id='createMilesButton'><button type="button" class="createMilesButton btn btn-primary btn-lg btn-block">Create Miles</button></a>
</div>