<ul id="properties">
    <%for(var i = 0; i < this.length ; i++){%>
    <li <%= this[i] %>>
        <%== $.View('//landlord/miles/list/views/property_miles.ejs', this[i] )%>
    </li>
    <%}%>
</ul>
<a id='createMilesFromPropertyButton'><button type="button" class="createMilesFromPropertyButton btn btn-primary btn-lg btn-block">Create Miles</button></a>