<td>
    <% if(typeof milesDate !== 'undefined') {%>
    <%= milesDate %>
    <%}%>
</td>
<td>
    <% if(typeof milesType !== 'undefined') {%>
    <%= milesType %>
    <%}%>
</td>
<td>
    <% if(typeof numberOfMiles !== 'undefined') {%>
    <%= numberOfMiles %>
    <%}%>
</td>
