<div>
    <div>
        <select id="resetYear">
            <option value="2009">2009</option>
            <option value="2010">2010</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
        </select>
        <select id="resetMonth">
            <option value="0">January</option>
            <option value="1">February</option>
            <option value="2">March</option>
            <option value="3">April</option>
            <option value="4">May</option>
            <option value="5">June</option>
            <option value="6">July</option>
            <option value="7">August</option>
            <option value="8">September</option>
            <option value="9">October</option>
            <option value="10">November</option>
            <option value="11">December</option>
        </select>
    </div>
    <div>
        <div class="button resetDataButton">Reset Data</div>
        <div class="button resetAllButton">Reset All Data</div>
    </div>
    <div>
        <span>Vacancy Rate</span>
        <span><input id="vacancyRate" value=""/></span>
    </div>
    <div>
        <span>Advertiser Website</span>
        <span><input id="advertiserWebsite" value=""/></span>
    </div>
    <div>
        <span class="button importExportButton">Import / Export</span>
    </div>
    <div>
        <span class="button reportButton">Report</span>
    </div>
    <div>
        <span class="button showTutorialButton">Show Tutorial</span>
    </div>
</div>

