<p>
    <% if(typeof amountTotal !== 'undefined') {%>
        <%= amountTotal %>
    <%}%>
    |
    <% if(typeof amountPaid !== 'undefined') {%>
        <%= amountPaid %>
    <%}%>
    |
    <% if(typeof dueDate !== 'undefined') {%>
        <%= dueDate %>
    <%}%>
    |
    <a href='javascript://' class='destroyExpense'>X</a>
</p>