    <td>
    <%if(typeof dueDate !== 'undefined') {
        var today = new Date();
        var dueDateAsDate = new Date(dueDate);
        var isNotPaid = (typeof paid === 'undefined' || !paid) ? true : false;

        if(today > dueDateAsDate && isNotPaid) { %>
            <img class="expenseListStatus" src="images/overdue_icon.png" />
        <%} else if(!isNotPaid) { %>
            <img class="expenseListStatus" src="images/paid_icon.jpg" />
        <%} else {%>
            <img class="expenseListStatus" src="images/pending_icon.gif" />
        <%}
    }%>
    </td>

    <td>
    <% if(typeof amountTotal !== 'undefined') {%>
        <%= amountTotal %>
    <%}%>
    </td>

    <td>
    <% if(typeof amountPaid !== 'undefined') {%>
        <%= amountPaid %>
    <%}%>
    </td>

    <td>
    <% if(typeof dueDate !== 'undefined') {%>
        <%= dueDate %>
    <%}%>
    </td>

    <td>
    <% if(typeof expenseType !== 'undefined') {%>
        <%= expenseType %>
    <%}%>
    </td>

    <td>
    <button class="destroyExpense btn btn-large btn-primary"><i class="icon-remove icon-white"/>Delete</button>
    <button class="destroyExpense btn btn-large btn-primary"><i class="glyphicon-remove icon-white"/>Delete</button>
    <button class="destroyExpense btn btn-large btn-primary"><i class="glyphicon-remove-circle icon-white"/>Delete</button>
    <button class="destroyExpense btn btn-large btn-primary"><i class="glyphicon-remove-sign icon-white"/>Delete</button>

    </td><td>
    <a href='javascript://' class='payExpense'>Pay</a>
    </td><td>
    <a href='javascript://' class='showExpense'>Show</a>
    </td>