<%for(var i = 0; i < this.length ; i++){
    var className = i % 2 == 0 ? 'evenRow' : 'oddRow'; %>
	<li class='<%= className %>' <%= this[i]%>>
		<%== $.View('//landlord/expense/list/views/expense.ejs', this[i] )%>
	</li>
<%}%>

<a id='createExpenseButton'>Create Expense</a>