<ul class="mainMenu">
    <li class="mainMenuButton importExportButton">
        Import/Export Data
    </li>
    <li class="mainMenuButton propertySummaryButton">
        Property Summary
    </li>
    <li class="mainMenuButton financialSummaryButton">
        Financial Summary
    </li>
    <li class="mainMenuButton milesButton">
        Miles
    </li>
    <li class="mainMenuButton rentalsAvailableButton">
        Rentals Available
    </li>
    <li class="mainMenuButton tenantScreeningButton">
        Tenant Screening
    </li>
    <li class="mainMenuButton settingsButton">
        Settings
    </li>
</ul>