<ul class="mainMenu">
    <!-- li class="mainMenuButton">
        <button type="button" class="importExportButton btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon-retweet"></span>
            Import/Export Data
        </button>
    </li -->
    <li class="mainMenuButton">
        <a href="#!properties">
            <button type="button" class="propertySummaryButton btn btn-primary btn-lg btn-block">
                <span class="glyphicon glyphicon-home"></span>
                Property Summary
            </button>
        </a>
    </li>
    <li class="mainMenuButton">
        <button type="button" class="financialSummaryButton btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon-usd"></span>
            Financial Summary
        </button>
    </li>
    <li class="mainMenuButton">
        <a href="#!miles">
            <button type="button" class="milesButton btn btn-primary btn-lg btn-block">
                <span class="glyphicon glyphicon-road"></span>
                Miles
            </button>
        </a>
    </li>
    <li class="mainMenuButton">
        <a href="#!rentals">
            <button type="button" class="rentalsAvailableButton btn btn-primary btn-lg btn-block">
                <span class="glyphicon glyphicon-search"></span>
                Rentals Available
            </button>
        </a>
    </li>
    <li class="mainMenuButton">
        <a href="#!tenant">
            <button type="button" class="tenantScreeningButton btn btn-primary btn-lg btn-block">
                <span class="glyphicon glyphicon-check"></span>
                Tenant Screening
            </button>
        </a>
    </li>
    <li class="mainMenuButton">
        <a href="#!settings">
            <button type="button" class="settingsButton btn btn-primary btn-lg btn-block">
                <span class="glyphicon glyphicon-cog"></span>
                Settings
            </button>
        </a>
    </li>
</ul>