<ul class="mainMenu">
    <li class="mainMenuButton">
        <button type="button" class="importExportButton btn btn-primary btn-lg btn-block">Import/Export Data</button>
    </li>
    <li class="mainMenuButton">
        <button type="button" class="propertySummaryButton btn btn-primary btn-lg btn-block">Property Summary</button>

    </li>
    <li class="mainMenuButton">
        <button type="button" class="financialSummaryButton btn btn-primary btn-lg btn-block">Financial Summary</button>
    </li>
    <li class="mainMenuButton">
        <button type="button" class="milesButton btn btn-primary btn-lg btn-block">Miles</button>
    </li>
    <li class="mainMenuButton">
        <button type="button" class="rentalsAvailableButton btn btn-primary btn-lg btn-block">Rentals Available</button>
    </li>
    <li class="mainMenuButton">
        <button type="button" class="tenantScreeningButton btn btn-primary btn-lg btn-block">Tenant Screening</button>
    </li>
    <li class="mainMenuButton">
        <button type="button" class="settingsButton btn btn-primary btn-lg btn-block">Settings</button>
    </li>
</ul>