<ul id="properties">
<%for(var i = 0; i < this.length ; i++){%>
	<li <%= this[i] %>>
		<%== $.View('//landlord/property/list/views/property.ejs', this[i] )%>
	</li>
<%}%>
</ul>

<a id='createPropertyButton'>Create Property</a>