<h2>New expense</h2>
<p>
	<label for='amountTotal'>Amount</label> <br/>
	<input type='input' name='amountTotal' id='amountTotal'/>
</p>
<p>
    <label for='amountPaid'>Paid</label> <br/>
    <input type='input' name='amountPaid' id='amountPaid'/>
</p>
<p>
    <label for='property'>Property</label> <br/>
    <input type='input' name='property' id='property'/>
</p>
<p>
    <label for='enteredDate'>Date Entered</label> <br/>
    <input type='date' name='enteredDate' id='enteredDate'/>
</p>
<p>
    <label for='dueDate'>Due Date</label> <br/>
    <input type='date' name='dueDate' id='dueDate'/>
</p>
<p>
    <label for='paidDate'>Paid Date</label> <br/>
    <input type='date' name='paidDate' id='paidDate'/>
</p>

<a id='createExpense'>Create Expense</a>