<h3>
    <a class='addressHeader'><%= address %></a>
    <a href='javascript://' class='destroyProperty'>X</a>
</h3>
<p>
    <img src="<%= imageLocation %>" height="60px" width="60px"/>
    $<%= currentRent %>
</p>