<h2>New Person</h2>
<p>
	<label for='name'>Name</label> <br/>
	<input type='input' name='name' id='name'/>
</p>
<p>
    <label for='phone'>Phone</label> <br/>
    <input type='input' name='phone' id='phone'/>
</p>
<p>
    <label for='email'>Email</label> <br/>
    <input type='input' name='email' id='email'/>
</p>

<p><input type='submit' value='Create'/></p>