
<p>
    <span class='infoLabel'>Date</span> <br/>
    <% if(typeof milesDate !== 'undefined') {%>
    <%= milesDate %>
    <%}%>
</p>
<p>
    <span class='infoLabel'>Type</span> <br/>
    <% if(typeof milesType !== 'undefined') {%>
    <%= milesType %>
    <%}%>
</p>
<p>
    <span class='infoLabel'>Miles</span> <br/>
    <% if(typeof numberOfMiles !== 'undefined') {%>
    <%= numberOfMiles %>
    <%}%>
</p>

<div class='showMiles'>
    <a id='editMilesButton'><button type="button" class="buttonsInList btn btn-primary btn-lg btn-block">Edit Miles</button></a>
    <a id='deleteMilesButton'><button type="button" class="buttonsInList btn btn-primary btn-lg btn-block">Delete Miles</button></a>
</div>