<table>
    <tr>
        <td align="left" valign="middle">&nbsp;</td>
        <td>
            <a href="http://www.rentprep.com/aff.php?aff=001" >
                <img width="310" height="82" src="images/RentPrepLogo.png" />
            </a>
        </td>
        <td align="left" valign="middle"></td>
    </tr>
    <tr>
        <td align="left" valign="middle">&nbsp;</td>
        <td width="310" height="35" align="left" valign="middle" >

            <div class="bannerContent">
                <h1>Tenant Screening </h1>

                <h3>LandlordApp Users receive 10% off entire order - coupon code landlord10  </h3>
                <ul>
                    <li>FCRA Compliant Screening Reports</li>
                    <li>Easy for Landlords to Use</li>
                    <li>Friendly U.S. Support</li>
                    <li>Background Check</li>
                    <li>Credit Check</li>
                </ul>
            </div>

        </td>
        <td align="left" valign="middle"></td>
    </tr>
    <tr>
        <td align="left" valign="middle">&nbsp;</td>
        <td align="center">
            <a href="http://www.rentprep.com/aff.php?aff=001" class="button" target="_blank">Go There</a>
        </td>
        <td align="left" valign="middle"></td>
    </tr>
</table>