<form>
<h2>New Property</h2>
<p>
	<label for='address'>Address</label> <br/>
	<input type='text' name='address' id='address'/>
</p>
<p>
    <label for='mortgage'>Mortgage Amount</label> <br/>
    <input type='number' name='mortgage' id='mortgage'/>
</p>
<p>
    <label for='currentRent'>Current Rent</label> <br/>
    <input type='number' name='currentRent' id='currentRent'/>
</p>
<p>
    <label for='tax'>Tax</label> <br/>
    <input type='number' name='tax' id='tax'/>
</p>
<p>
    <label for='escrow'>Escrow</label> <br/>
    <input type='text' name='escrow' id='escrow'/>
</p>
<p>
    <label for='security'>Security Deposite</label> <br/>
    <input type='number' name='security' id='security'/>
</p>
<p>
    <label for='pet'>Pet Deposite</label> <br/>
    <input type='number' name='pet' id='pet'/>
</p>
<p>
    <label for='rentPermit'>Rent Permit Date</label> <br/>
    <input type='text' name='rentPermit' id='rentPermit'/>
</p>
<p>
    <label for='leaseStart'>Lease Start Date</label> <br/>
    <input type='text' name='leaseStart' id='leaseStart'/>
</p>
<p>
    <label for='leaseEnd'>Lease End Date</label> <br/>
    <input type='text' name='leaseEnd' id='leaseEnd'/>
</p>
<p>
    <label for='imageLocation'>Image Location</label> <br/>
    <input type='url' name='imageLocation' id='imageLocation'/>
</p>


<p>
<label for='tenant'>Tenant</label> <br/>
<select name='tenant' id='tenant'>
    <option></option>
    <%for(var i = 0; i < this.length ; i++){%>
    <option value="<%= this[i].id%>"><%= this[i].name%></option>
    <%}%>
</select>
</p>

<p>
    <input type='submit' value='Create'/>
</p>
</form>